<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Insert</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div>
        <%-include('../../header/headerbackToHome')%>
    </div>

    <div class=" h-[92vh] bg-[#f5f3f33c] flex  flex-col">
        <div class="w-[80%] m-auto  h-[70%] flex items-center flex-col justify-center gap-10">
            <div class=" w-[70%] ">


                <form class="" id="class_subject_add_formData">

                    <div class="flex flex-col sm:flex-row  gap-5">
                        <div class="w-full">
                            <label for="countries"
                                class="block mb-2 text-sm font-medium text-black">Select an
                                option</label>
                            <select id="classCode" name="classCode"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option selected disabled>Choose a Class</option>
                                <option value="Class1">Class1</option>
                                <option value="Class2">Class2</option>
                                <option value="Class3">Class3</option>
                                <option value="Class4">Class4</option>
                            </select>
                        </div>
                        <div class="w-full">
                            <label for="countries"
                                class="block mb-2 text-sm font-medium text-black">Select an
                                option</label>
                            <select name="subject_name" id="subject_name"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option selected disabled>Choose a subject Name</option>

                                <%result.forEach(e=>{%>
                                    <option value="<%=e.subject_name%>">
                                        <%=e.subject_name%>
                                    </option>

                                    <%})%>

                            </select>
                        </div>
                        <div class="flex justify-center items-end">
                            <button type="button" id="submitBtn"
                                class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add</button>
                        </div>


                    </div>


                </form>


            </div>
            <div class="border-2 w-full h-[70%] overflow-auto">
                <form class="" id="class_subject_form_data" method="post">
                    <table class="w-full ">
                        <thead class="sticky top-0">
                            <tr class="text-center border-b bg-red-400">
                                <th class="px-6 py-3 border-r text-white uppercase">Class</th>
                                <th class="px-6 py-3 text-white uppercase">Subject</th>
                            </tr>
                        </thead>
                        <tbody id="theadInsubjectAddTable">
                            
                        </tbody>
                    </table>

                    <button type="button" id="submit_btn_class_subject_table"
                        class="m-4 w-[40%] float-end text-white bg-slate-400  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm  sm:w-auto px-5 py-2.5 text-center dark:focus:ring-blue-800">
                        Submit
                    </button>
                </form>
            </div>
        </div>

        
    </div>

    <div class="bg-[#0000003e] inset-0 absolute flex items-center justify-center hidden alert uperLayer">
       
        <div id="alert-border-3" class="success_Model_Alert w-80 absolute md:right-[10%] right-[6%] top-[10%] flex items-center p-4 mb-4 text-green-800 border-t-4 border-green-300 bg-green-50 dark:text-green-400 dark:bg-gray-800 dark:border-green-800 transform transition-all ease-in-out duration-300 opacity-100" role="alert">

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>



    </script>

    <script src="../../../ajaxfile/marks/class_subject_add.js"></script>

</body>

</html>