<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="w-full border-b">
        <div class="w-[90%] m-auto  flex justify-between items-center ">
            <div class="flex items-center ">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjRKZH2XEFHdEkiQJ6JilB54ypDt2QL5ybeA&s" alt="School Logo" class="h-14 w-14 mr-1">
                <span class="text-red-950 text-base">School</span>
            </div>
            <div >
                <a id="login_btn" href="#" class="border p-2 rounded-[7px] bg-sky-500 mr-2 text-white text-[12px] sm:text-[14px]">Sign In<i class="fa-solid fa-right-to-bracket pl-1 text-white"></i></a>
                <a href="#" class="border p-2 rounded-[7px] bg-sky-500 text-white text-[12px] md:text-[14px]" >Sign Up<i class="fa-solid fa-right-to-bracket pl-1 text-white"></i></a>
            </div>

            
                
                <div id="login_model"  class="bg-slate-300 w-[50%] h-[300px] absolute left-[360px] top-[-400px] transform transition-all ease-in-out hidden duration-300">
                   
                    <button  id="modelcloseBtn" class="float-end p-3" ><i class="fa-solid fa-xmark text-[20]"></i></button>
                    
                </div>
           

        </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $('#login_btn').click(function(){
                $('#login_model').toggleClass('hidden ').toggleClass('left-[360px] top-[120px]')

            })
            
        })
    </script>
</body>
</html>