<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="../public/output.css">
</head>
<body>
    <p class="bg-slate-400 p-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque recusandae animi sunt velit non quaerat natus fuga reiciendis. Quam eum vel qui quod suscipit? Quia a deleniti impedit labore ex.</p>
</body>
</html>