<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="">
        <%-include('../header/headerbackToHome')%>
    </div>

    <div class="w-full h-[92vh] bg-[#f0ecec39] flex items-center justify-center flex-col ">

        <div class="w-[80%]  h-[47%] mb-6 flex  justify-center">
            <div class="md:w-[58%] w-full m-auto border px-3 md:px-10 py-2 pb-5 shadow-[0px_0_5px_3px_#EFEBE9] ">
                <h1 class="text-[22px] pb-6 font-medium text-center drop-shadow-[3px_4px_6px_#2563eb] text-[#d93c3c] " style="font-family: cursive;">Subject Insert Record</h1>
                <form id="subject_master_form" method="post">
                    <div class="flex flex-row md:gap-7 gap-5 ">
                        <div class="mb-3 w-[50%]">
                            <label  class="block md:mb-2 mb-1 sm:text-sm text-[13px] font-medium text-black ">Subject Code</label>
                            
                            <input type="text" name='SubjectCode' class="capitalize bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Subject Code" required />
                        </div>
                        <div class="mb-3 w-[50%]">
                            <label  class="block md:mb-2 mb-1 sm:text-sm text-[13px] font-medium text-black ">Subject Name</label>
                            <input type="text" name="subject_name" class="capitalize bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Subject Name" required />
                        </div>
                    </div>
                    <div class="flex flex-row gap-7 ">
                        <div class="mb-3 w-[50%]">
                            <label  class="block md:mb-2 mb-1 sm:text-sm text-[13px] font-medium text-black ">Min-Marks</label>
                            <input type="number" name="min_marks" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0123456789" required />
                        </div>
                        <div class="mb-3 w-[50%]">
                            <label  class="block md:mb-2 mb-1 sm:text-sm text-[13px] font-medium  text-black">Max-Marks</label>
                            <input type="number" name="max_marks" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0123456789" required />
                        </div>
                    </div>
                    <button id="Subject_master_submit_btn" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                </form>
            </div>
        </div>

        <div class="w-[80%] border h-[45%] overflow-auto mb-4 bg-white">
            <table class="w-full ">
                <thead class="sticky top-0 bg-red-400">
                    <tr class="">
                        <td class="px-6 py-4 text-left text-xs font-medium text-white uppercase tracking-wider ">Subject Code</td>
                        <td class="px-6 py-4 text-left text-xs font-medium text-white uppercase tracking-wider">Subject Name</td>
                        <td class="px-6 py-4 text-left text-xs font-medium text-white uppercase tracking-wider">Min-Marks</td>
                        <td class="px-6 py-4 text-left text-xs font-medium text-white uppercase tracking-wider">Max-Marks</td>
                    </tr>
                </thead>
                <tbody class="tBody_All_Marks_Fetch_Data">
                    
                   
                </tbody>
            </table>
        </div>

        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../../ajaxfile/marks/subject_master.js"></script>
</body>

</html>